<a href="https://colab.research.google.com/github/datagroundr4/dataanalysis/blob/main/market_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df_market = pd.read_csv('https://drive.google.com/uc?export=download&id=1Ykgqrmt7eldMOaEwFoXVe8WYaPl6ylWp')
df_market.head()

,visitas_ultimos_30d,compras,gasto_publicitario_dirigido,puntuacion_satisfaccion,edad_cliente,estado_suscripcion,region,tipo_dispositivo,ingresos_mensuales
0,12,1,26.75,4.2,37.0,Yes,North,mobile,34.59
1,6,0,0.00,2.8,35.0,No,North,mobile,0.00
2,11,1,31.11,3.1,43.0,Yes,North,mobile,25.35
3,14,2,29.74,2.7,29.0,No,North,mobile,38.14
4,7,1,46.61,2.8,34.0,No,East,desktop,24.25

In [ ]:
df_market.describe()

,visitas_ultimos_30d,compras,gasto_publicitario_dirigido,puntuacion_satisfaccion,edad_cliente,ingresos_mensuales
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
mean,9.974667,0.971333,24.733467,3.508800,38.038667,25.510253
std,3.237645,0.987503,14.113435,0.791636,11.091642,27.098984
min,1.000000,0.000000,0.000000,1.000000,18.000000,0.000000
25%,8.000000,0.000000,14.217500,3.000000,30.000000,0.000000
50%,10.000000,1.000000,24.170000,3.500000,38.000000,23.645000
75%,12.000000,1.000000,33.915000,4.100000,46.000000,36.875000
max,21.000000,5.000000,71.400000,5.000000,73.000000,171.630000

In [ ]:
df_market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   visitas_ultimos_30d          1500 non-null   int64
 1   compras                      1500 non-null   int64
 2   gasto_publicitario_dirigido  1500 non-null   float64
 3   puntuacion_satisfaccion      1500 non-null   float64
 4   edad_cliente                 1500 non-null   float64
 5   estado_suscripcion           1500 non-null   object
 6   region                       1500 non-null   object
 7   tipo_dispositivo             1500 non-null   object
 8   ingresos_mensuales           1500 non-null   float64
dtypes: float64(4), int64(2), object(3)
memory usage: 105.6+ KB